#wrap {
    background: floralwhite;
    height: 215px;
    width: 325px;
    display: flex;
    flex-direction: column;
    margin: 240px auto;
    border: bisque solid 3px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    row-gap: 6px;
}

#A{
    background: bisque;
    height: 60px;
    width: 316px;
}
#block{
    display: flex;
    column-gap: 6px;
}

.box{
    background: bisque;
    height: 140px;
}

.B{
    width:240px;
}

.C{
    width:70px
}



